.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #013914;
    color: white;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.5s all ease;
  
    &.active {
      background-color: white;
      color: black;
  
      button {
        background-color: white !important;
        color: #1dbf73 !important;
        border: 1px solid #1dbf73 !important;
      }
    }
  
    .container {
      width: 1400px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0px;
  
      .logo {
        font-size: 34px;
        font-weight: bold;
  
        .text {
        }
  
        .dot {
          font-weight: bold;
          color: #1dbf73;
        }
      }
  
      .links {
        display: flex;
        align-items: center;
        gap: 24px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
  
        span {
          white-space: nowrap;
        }
  
        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          position: relative;
  
          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
          }
  
          .options {
            position: absolute;
            top: 50px;
            right: 0;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            z-index: 999;
            border: 1px solid lightgrey;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 200px;
            font-weight: 300;
          }
        }
      }
  
      hr {
        width: 100%;
        border: 0;
        height: 1px;
        background-color: lightgrey;
        margin: 10px 0;
      }
  
      .menu {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
  
        .menuLink {
          width: 50%;
          padding: 10px 0;
          text-align: center;
        }
      }
    }
  
    // media queries
    @media screen and (max-width: 767px) {
      .container {
        width: 100%;
        padding: 10px 20px;
  
        .logo {
          font-size: 24px;
        }
  
        .links {
          flex-direction: column;
          gap: 10px;
          margin-top: 10px;
  
          .user {
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
  
            .options {
              position: static;
              margin-top: 10px;
              width: 100%;
            }
          }
        }
  
        hr {
          display: none;
        }
  
        .menu {
          display: none;
        }
      }
    }
  }
  